@model Survey


<div class="inputDiv">
    <div>
        <p>Name:</p>
        <p>Dojo Location:</p>
        <p>Favarite Language: </p>
        <p>Comment: </p>
    </div>


    <div class="flexStart">
            @{
                if(Model.Name != null) 
                    {
                        <p>@Model.Name</p>
                    }
                
                else
                    { <p>No Name</p> }
            }
        <p>@Model.Location</p>
        <p>@Model.FavLang</p>
        @{
            
            if(Model.Comment != null) 
                {
                    <p>@Model.Comment</p>
                }
            
            else
                { <p>No Comment</p> }
            }
    </div>





    @* <div class="flexStart">
            @{
                if(ViewBag.name != null) 
                    {
                        <p>@ViewBag.name</p>
                    }
                
                else
                    { <p>No Name</p> }
            }
        <p>@ViewBag.Location</p>
        <p>@ViewBag.fl</p>
        @{
            
            if(ViewBag.c != null) 
                {
                    <p>@ViewBag.c</p>
                }
            
            else
                { <p>No Comment</p> }
            }
    </div> *@
    
</div>

<br>
<a href="/" class="button-19">Go Back</a>