@model Product


<div class="text-center">
    <h1>@Model.Name</h1>

    <div class="flex mg-2">

        <div class="left-main2">
            <h2>Categories</h2>
            <ul>
                @{
                    foreach(Association c in Model.CategoryAssociations) {
                        <li>@c.Category.Name</li>
                    }
                }
            </ul>
        </div>

        <div class="right-main2">
            <h2>Add Category</h2>
            <form asp-action="NewAssociation" method="post">
                <input type="hidden" name="ProdId" value="@Model.ProductId">
                <select name="CategoryId">
                    @{
                        foreach(Category c in ViewBag.allCategories) {
                            <option value="@c.CategorytId">@c.Name</option>
                        }
                    }
                </select>

                <input type="submit" class="button-19 mg-2" value="Add">

            </form>
        </div>
    </div>

</div>