



<div class="mg-top-2">
    <table>
        <tr>
            <th>Wedding of</th>
            <th>Date</th>
            <th>Guest Count</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Name & Name</td>
            <td>date</td>
            <td>##</td>
            <td>doThing</td>
        </tr>
        @{
            foreach(Wedding w in Model){
                <tr>
                    <td>
                        <a asp-action="ViewOneWedding" asp-route-WeddingId="@w.WeddingId">@w.WedderOne & @w.WedderTwo</a>
                    </td>
                    <td>@w.Date</td>
                    <td>@w.RsvpedGuests.Count</td>
                    <td>
                        @{
                            if(w.UserId == Context.Session.GetInt32("UserId")) {
                                <form asp-action="DeleteWedding" asp-controller="Wedding" method="post">
                                    <input type="hidden" name="WeddingId" value="@w.WeddingId">
                                    <button type="submit" class="btn-primary">Delete</button>
                                </form>
                            }
                            else {
                                //if not already rsvped reutrn rsvp button, else return un-revp button
                                
                                if(w.RsvpedGuests.Any(g => g.UserId == Context.Session.GetInt32("UserId"))){
                                    <form asp-action="DeleteRsvp" asp-controller="Wedding" method="post">
                                        <input type="hidden" name="WeddingId" value="@w.WeddingId">
                                        <button type="submit" class="btn-primary">Un-RSVP</button>
                                    </form>
                                }
                                else {
                                    <form asp-action="AddRSVP" asp-controller="Wedding" method="post">
                                        <input type="hidden" name="WeddingId" value="@w.WeddingId">
                                        <button type="submit" class="btn-primary">RSVP</button>
                                    </form>
                                }
                                
                            }
                        }
                    </td>
                </tr>
            }
        }
        
    </table>
</div>