@model Wedding



<div>
    <h1>@Model.WedderOne & @Model.WedderTwo's Wedding</h1>
    <h3>@Model.Date</h3>

    <div>
        <h3>Guests:</h3>
        <div class="aBox">
            @{ foreach(RSVP g in Model.RsvpedGuests) {
                <p>@g.RsvpingUser.FirstName @g.RsvpingUser.LastName</p>
                }
            }
        </div>
    </div>
</div>