@{
    ViewData["Title"] = "Check out our roster of chefs!";
}
@model List<Dish>

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="line-h"></div>


    <div class="tableBox ">
        <table>
            <tr>
                <th>Name</th>
                <th>Chef</th>
                <th>Tastiness</th>
                <th>Calories</th>
            </tr>

            @{
                foreach(Dish c in Model) {
                    <tr>
                        <td>@c.Name</td>
                        <td>@c.Creator.FirstName @c.Creator.LastName</td>
                        <td>@c.Tastiness</td>
                        <td>@c.Calories</td>
                        @* <td>@c.FirstName</td>
                        <td>@c.LastName</td>
                        <td>@c.DOB</td> *@
                    </tr>
                }
            }
        </table>
    </div>

</div>
